body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: rgb(146, 245, 184);
}
nav ul {
    padding: 0;
}
nav li {
    display: inline-block;
    padding: 0 .5em;
    background: rgb(44, 97, 241);
    border-radius: .5em;
    margin: .2em;  
}

nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header {
    background: rgb(79, 40, 249);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
}

form {
    border-radius: .5em;
    float: right;
}

