{% extends "layout.html" %}
{% block title %}admin{% endblock %}
{% block content %}
<H1>HALLINNOI KÄYTTÄJIÄ:</H1>
<br>
<br>
TAVALLISET KÄYTTÄJÄT:
<br>
{% for user in users %}
<p>{{ user.username }} -- {{ user.access_level }} 
    <form action="/admin/users/{{ user.id }}" method="POST">    
          <input type="submit" value="Anna oikeudet salatulle alueelle">
          </form>
      <hr>
</p>


{% endfor %}
<br>
<br>
KÄYTTÄJÄT SALATUILLA OIKEUKSILLA:
<br>
{% for user in pusers %}
<p>{{ user.username }} -- {{ user.access_level }} käyttäjä id: {{ user.id }}   
    <form action="/admin/pusers/{{ user.id }}" method="POST">    
        <input type="submit" value="Poista oikeudet salatulle alueelle">
        </form>
    <hr>
</p>


{% endfor %}
{% endblock %}
