{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}<p>HALLINNOI KÄYTTÄJIÄ:</p>
<br>
<a href="/"style="color: rgb(44, 97, 241)">Etusivulle</a>
<br>
<br>
<br>
KÄYTTÄJÄT:
<br>
{% for user in users %}
<p>{{ user.username }} -- {{ user.access_level }} 
    <form action="/admin/users/{{ user.id }}" method="POST">    
          <input type="submit" value="Anna oikeudet salatulle alueelle">
          </form>
      <hr>
</p>


{% endfor %}
<br>
<br>
KÄYTTÄJÄT SALATUILLA OIKEUKSILLA:
<br>
{% for user in pusers %}
<p>{{ user.username }} -- {{ user.access_level }} käyttäjä id: {{ user.id }}   
    <form action="/admin/pusers/{{ user.id }}" method="POST">    
        <input type="submit" value="Poista oikeudet salatulle alueelle">
        </form>
    <hr>
</p>


{% endfor %}
{% endblock %}
