<!doctype html>
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.access_level == "admin" %}
<p style="color: rgb(249, 9, 5)">Huom! Olet kirjautuneena roolissa ADMIN!!</p>
<nav>
  <ul>
    <li><a href="/admin"> Hallinnoi käyttäjiä</a></li>
    <li><a href="/newtopicarea"> Lisää aihealue</a></li>
  </ul>
</nav>
{% endif %}
{% if session.user_id %}
<p style="color: rgb(44, 97, 241)">Olet kirjautunut nimellä: <i>{{ logged }}</i>. Olet kävijä nro: {{ counter }}.  </p>
<hr>
<H2>AIHEALUEET:</H2>
<br>
{% for topicarea in topicareas %}
<a href="/{{ topicarea[0]}}" style="color: rgb(44, 97, 241)"><b>{{ topicarea[1] }}</b></a> <div style="font-size:14px" >(viestiketjuja: 
{{ topicarea[3] }} kpl, viestejä: {{ topicarea[2] }}kpl, viimeisin viesti: {{ topicarea[4].strftime("%Y-%m-%d %H:%M:%S") }})</div>
{% if session.access_level == "admin" %}
<form action="/admin/remove/{{ topicarea[0] }}" method="POST">
  <br>    
  <input type="submit" value="poista">
</form>  
{% endif %}     
<hr>
{% endfor %}
{% if session.access_level == "admin" or  session.access_level == "puser" %}
<H2>SALATUT AIHEALUEET:</H2>
{% for secretarea in secretareas %}
  <a href="/{{ secretarea[0]}}"><b>{{ secretarea[1] }}</a> </b><div style="font-size:14px" > (ketjuja : 
  {{ secretarea[3] }} kpl, viestejä: {{ secretarea[2] }}kpl, viimeisin viesti: {{ secretarea[4].strftime("%Y-%m-%d %H:%M:%S") }})</div>
  {% if session.access_level == "admin" %}
    <form action="/admin/remove/{{ secretarea[0] }}" method="POST">   
      <input type="submit" value="poista">
    </form>  
  {% endif %}      
  <hr>
  <br> 
{% endfor %} 
{% endif %}  
<hr>
<br>
<br>
{% else %}
<form action="/login" method="POST">
  <p>Tunnus:<br>
  <input type="text" name="username"></p>
  <p>Salasana:<br>
  <input type="password" name="password"></p>
  <input type="submit" value="Kirjaudu">
</form>
<h2>Tervetuloa lemmikkifoorumille</h2>
<p>
Täällä keskustellaan karvakuonoista ja kilpikonnista. Tai ties vaikka jollakulla olisi karhu lemmikkinä, sekin käy! 
Muistathan kuitenkin käytöstavat, etkä päästä koiraasi tai papukaijaasi itsekseen mellastamaan foorumilla.
</p>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
<br>
<nav>
  <ul>
    <li><a href="/register"> Rekisteröidy tästä!</a></li>
  </ul>
</nav>
{% endif %}
{% endblock %}
