{% if session.user_id %}
<p>Olet kirjautunut id:llä <i>{{ session.id}}</i> </p>
<p>Olet kävijä nro: {{ counter }}</p>


<hr>
<p>KESKUSTELUALUEET:</p>
{% for topicarea in topicareas %}
AIHEALUE: {{ topicarea[1] }}, KETJUJA: 
{{ topicarea[3] }} kpl, VIESTEJÄ: {{ topicarea[2] }}kpl, VIIMEISIN VIESTI: {{ topicarea[4].strftime("%Y-%m-%d %H:%M:%S") }}

<a href="/{{ topicarea[0]}}">Go!</a>
<hr>
{% endfor %}
<br>
<a href="/logout">Kirjaudu ulos</a>
<br>


<a href="/newtopicarea">Lisää Aihealue</a>

{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>


TAI:

<a href="/register">Rekisteröidy tästä!</a>

{% endif %}

