{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}


<br>
<a href="/" style="color: rgb(44, 97, 241)">etusivulle</a> <a href="/{{ topicareaid }}"style="color: rgb(44, 97, 241)">keskusteluihin</a>
<hr>
<p>Aloita uusi Keskustelu: </p>  
<br>
<form action="/{{ topicareaid }}/newtopic" method="POST">
  otsikko: <textarea name="title" rows="1" cols="50"></textarea><br>
  ensimmäinen viesti: <textarea name="content" rows="3" cols="40"></textarea>
  <input type="submit" value="lähetä">
</form>
<br>
<br>
<br>
<br>
<br>
    {% endblock %}