{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}






<p>Aloita uusi keskustelu: </p>  
<br>
<form action="/{{ topicareaid }}/newtopic" method="POST">
  otsikko: <textarea name="title" rows="1" cols="50"></textarea><br>
  ensimmäinen viesti: <textarea name="content" rows="3" cols="40"></textarea>
  <input type="submit" value="lähetä">
</form>
<br>
<nav>
    <ul>
      <li><a href="/{{ topicareaid }}"> palaa keskusteluihin </a></li>
    </ul>
</nav>
<br>
<br>
<br>
<br>
    {% endblock %}