{% extends "layout.html" %}
{% block title %}rekisteröinti{% endblock %}
{% block content %}

<p>REKISTERÖIDY KÄYTTÄJÄKSI:</p>

<form action="/register" method="POST">
<p>Anna uusi käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Anna keksimäsi salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Rekisteröidy">
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
  <div class="{{ category }}">{{ message }}</div>
{% endfor %}
{% endwith %}
<br>
<br>
<p>Huom, virheilmoitukset puuttuvat vielä, joten jos rekisteröinti ei onnistu käyttäjätunnus on todennäköisesti jo käytössä</p>
<br>

<nav>
    <ul>
      <li><a href="/"> palaa kirjautumiseen</a></li>
    </ul>
  </nav>
{% endblock %}