{% extends "layout.html" %}
{% block title %}keskustelut{% endblock %}
{% block content %}

<p style="color: rgb(44, 97, 241)">Olet aihealueella <i>"{{ topicareaname }}"</i></p>
<a href="/{{ topicareaid }}/newtopic"  style="color: rgb(44, 97, 241)">aloita uusi keskustelu</a> <a href="/"  style="color: rgb(44, 97, 241)">palaa aihealueisiin</a>
<hr>
<h2>KESKUSTELUT:</h2>

{% for topic in topics %}

<a href="/{{ topicareaid }}/{{ topic.id }}" style="color: rgb(44, 97, 241)">{{ topic.name }}</a>
<br>
 


   
    


<br>
{% endfor %}




<br>

{% endblock %}