Tämän keskustelun otsikko: {{ topicname }}<br>
Tämän keskustelun id:{{ topicid }}
Tmän keskustelun omistaja {{ topicuserid }}
Tmän session omistaja {{ session.user_id }}
{% if session.access_level == "admin" or  topicuserid==session.user_id %}
<form action="/{{ topicareaid }}/{{ topicid }}/delete" method="POST">
  <br>    
    <input type="submit" value="Delete">
    </form>
{% endif  %}


<hr>
<br>
<form action="/{{ topicareaid }}/{{ topicid }}/result" method="GET">
  Hakusana: <input type="text" name="query">
  <br>
  <input type="submit" value="Lähetä">
  </form>
<br>  
{% for message in messages %}<br>
Käyttäjä <i>{{ message.username }}</i> kirjoitti :"{{ message.content }}"<br>
Luotu: {{ message.created_at.strftime("%Y-%m-%d %H:%M:%S") }}<br>


{% if message.user_id == session.user_id or session.access_level == "admin" %}
<form action="/{{ topicareaid }}/{{ topicid }}/{{ message.id }}" method="POST">
  <br>    
    <input type="submit" value="Delete">
    </form>


<form action="/{{ topicareaid }}/{{ topicid }}/{{ message.id }}/edit" method="POST">
    <textarea name="content" rows="3" cols="40">{{ message.content }}</textarea>
    <br>
    <input type="submit" value="Edit">
    </form>
    {% endif%}
    
<hr>

{% endfor %}

<form action="/{{ topicareaid }}/{{ topicid }}/addnewmessage" method="POST">
  <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Lisää kommentti!">
    </form>
    <br>
    
    

<a href="/">Palaa aihealueisiin:</a>
<br>
<a href="/logout">Kirjaudu ulos</a>




