<!doctype html>
{% extends "layout.html" %}
{% block title %}viestit{% endblock %}
{% block content %}
<form action="/{{ topicareaid }}/{{ topicid }}/result" method="GET">
  <input type="text" name="query">
  <input type="submit" value="Hae ketjusta">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<nav>
  <ul>
    <li><a href="/{{ topicareaid }}"> Palaa keskusteluihin </a></li>
    <li><a href="/">Palaa aihealueisiin</a></li>
  </ul>
</nav>
<H1 style="color: rgb(0, 0, 0)">Olet keskustelussa "<i>{{ topicname }}</i>" </H1>
{% if session.access_level == "admin" or  topicuserid==session.user_id %} 
<nav>
  <ul>
    <li><a href="/{{ topicareaid }}/{{ topicid }}/edit"> Muokkaa keskustelun otsikkoa </a></li>
  </ul>
</nav> 
  <form action="/{{ topicareaid }}/{{ topicid }}/delete" method="POST">    
    <input type="submit" value="Poista keskustelu">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>  
{% endif  %}
<br>
<hr>  
  <form action="/{{ topicareaid }}/{{ topicid }}/addnewmessage" method="POST">
  <textarea name="content" rows="5" cols="30"></textarea>  
  <input type="submit" value="Kirjoita uusi viesti">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
<br>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
<br>
<h2>VIESTIT:</h2>
{% for message in messages %}
  <hr>
  Käyttäjä <i>{{ message.username }}</i> kirjoitti :"{{ message.content }}"<br>
  Luotu: {{ message.created_at.strftime("%Y-%m-%d %H:%M:%S") }}<br>
  
  {% if message.user_id == session.user_id or session.access_level == "admin" %}
  <form action="/{{ topicareaid }}/{{ topicid }}/{{ message.id }}" method="POST">   
    <input type="submit" value="Poista">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
  <nav>
    <ul>
      <li><a href="/{{ topicareaid }}/{{ topicid }}/{{ message.id }}/edit"> Muokkaa</a></li>
    </ul>
  </nav>  
  {% endif%}  
{% endfor %}
{% endblock %}
